[submodule "GeoSoftII_Frontend"]
	path = GeoSoftII_Frontend
	url = https://github.com/FelixGI1516/GeoSoftII_Frontend.git
[submodule "GeoSoftII_SST_Process"]
	path = GeoSoftII_SST_Process
	url = https://github.com/FelixGI1516/GeoSoftII_SST_Process.git
[submodule "GeoSoftII_NDVI_Process"]
	path = GeoSoftII_NDVI_Process
	url = https://github.com/FelixGI1516/GeoSoftII_NDVI_Process.git
[submodule "GeoSoftII_DataServer"]
	path = GeoSoftII_DataServer
	url = https://github.com/FelixGI1516/GeoSoftII_DataServer.git
[submodule "GeoSoftII_JobManagement"]
	path = GeoSoftII_JobManagement
	url = https://github.com/FelixGI1516/GeoSoftII_JobManagement.git
